<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Department</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Department ID</label>
                <input  [(ngModel)] = "newDepartment.id" class="form-control" id="exampleFormControlInput1" type="text">
            </div>
            <div  class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Department Name</label>
                <input
                    class="form-control"
                    id="exampleFormControlInput2"
                    type="text"
                    [(ngModel)] = "newDepartment.name"
                    required
                />
            </div>
            <div  class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Department Capacity</label>
                <input
                    class="form-control"
                    id="exampleFormControlInput2"
                    type="text"
                    [(ngModel)] = "newDepartment.capacity"
                    required
                />
            </div>
            <div  class="mb-3">
                <label class="form-label">Department Location</label>
                <input
                    class="form-control"
                    id="exampleFormControlInput2"
                    type="text"
                    [(ngModel)] = "newDepartment.location"
                    required
                />
            </div>
            <div  class="mb-3">
              <label class="form-label">Created At</label>
              <input
                  class="form-control"
                  id="exampleFormControlInput2"
                  type="date"
                  [(ngModel)] = "newDepartment.created_at"
                  required
              />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="add()">ADD</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Department</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Department ID</label>
                <input disabled="true" #t1 [(ngModel)] = "editDepartment.id" class="form-control" id="exampleFormControlInput1" type="text">
            </div>
            <div  class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Department Name</label>
                <input
                    class="form-control"
                    id="exampleFormControlInput2"
                    type="text"
                    [(ngModel)] = "editDepartment.name"
                    required
                />
            </div>
            <div  class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Department Capacity</label>
                <input
                    class="form-control"
                    id="exampleFormControlInput2"
                    type="text"
                    [(ngModel)] = "editDepartment.capacity"
                    required
                />
            </div>
            <div  class="mb-3">
                <label class="form-label">Department Location</label>
                <input
                    class="form-control"
                    id="exampleFormControlInput2"
                    type="text"
                    [(ngModel)] = "newDepartment.location"
                    required
                />
            </div>
            <div  class="mb-3">
              <label class="form-label">Created At</label>
              <input
                  class="form-control"
                  id="exampleFormControlInput2"
                  type="date"
                  [(ngModel)] = "newDepartment.created_at"
                  required
              />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="save(t1.value)">Save</button>
        </div>
      </div>
    </div>
  </div>
<div class="w-50 m-auto mt-3 row">
    <h3 class="col-8">All Departments</h3>
    <button type="button" class="btn btn-primary col-4" data-bs-toggle="modal" data-bs-target="#addModal">Add New Department</button>
</div>
<table class="dept-list table w-75 mt-3 m-auto">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Location</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of depts" class="bg-light">
            <td>{{item.id}}</td>
            <td>{{item.name | appendString:"ITI"}}</td>
            <td>{{item.capacity}}</td>
            <td>{{item.location}}</td>
            <td>{{item.created_at | date:'mediumDate'}}</td>
            <td>
                <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#showModal" (click)="show(item.id)">Show</button>
                <button class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#editModal" (click)="edit(item.id)">Edit</button>
                <button class="btn btn-danger me-2" (click)="delete(item.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Department Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <p>ID: {{currentDepartment.id}}</p>
                <p>Name: {{currentDepartment.name}}</p>
                <p>Capacity: {{currentDepartment.capacity}}</p>
                <p>Location: {{currentDepartment.location}</p>
                <p>Created At: {{currentDepartment.created_at}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>